<h2>Welcome back, <%= current_user.username %>!</h2>

<h3>Books</h3>

<% @books.each do |book| %>
<div>
<a href="/books/<%= book.id %>"><%= book.title %></a>
<br>
<%= book.author %>
<br>
<%= book.genre %>
<br>
<%= book.summary %>
<br>
<%= book.user %>
<br>
<br>
</div>

<% end %>

<h3><a href="/books/new">Add new book</a></h3>

<p><a href="/logout">Log Out</a></p>