<h2>Welcome back, <%= current_user.username %>!</h2>

<h3>Books</h3>

<% @books.each do |book| %>
<div>
<br>
<a href="/books/<%= book.id %>"><%= book.title %></a>
<br>
<b>Author: </b><%= book.author %>
<br>
<b>Genre: </b><%= book.genre %>
<br>
<b>Summary: </b><%= book.summary %>
<br>
<i>Added by <%= book.user.username %></i>
<br>
<br>
<hr>
</div>

<% end %>

<h3><a href="/books/new">Add new book</a></h3>

<p><a href="/logout">Log Out</a></p>