<h2>View Book</h2>

<h3><%= @book.title %></h3>
<p>Author: <%= @book.author %></p>
<p>Genre: <%= @book.genre %></p>
<p>Summary: <%= @book.summary %></p>

<a href="/books/<%= @book.id %>/edit">Edit Book</a>