<h2>View Book</h2>

<h3><%= @book.title %></h3>
<p><b>Author:</b> <%= @book.author %></p>
<p><b>Genre:</b> <%= @book.genre %></p>
<p><b>Summary:</b> <%= @book.summary %></p>

<a href="/books/<%= @book.id %>/edit">Edit Book</a>
<br>
<br>
<form method="post" action="/books/<%= @book.id %>/delete">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Book">
<br>
<br>
<a href="/home">View All Books</a>